@use '../../variables';

.projectTitle {
    margin-top: 6%;
}

a {
    text-decoration: none;
    color: inherit;
}

.kavi, .jackieApp {
    @include variables.boxStyle;
}

.kavi:hover, .jackieApp:hover {
    @include variables.boxHover;
  }


  @media (max-width: 1025px) {
    .kavi, .jackieApp {
      width: 80%;
      padding: 0;
      margin-top: 10%;
      margin-bottom: 10%;
    }
  }