@use '../../variables';

.container {
  width: 100vw;
  height: 100vh;

  .leftDiv {
    margin-left: 7.5vw;
    position: fixed;
    color: white;

    h3 {
      font-weight: 400;
    }
  }

  .rightDiv {
    position: relative;
    color: variables.$light-grey;
    margin-left: 50vw;
  }
}

#about {
  padding-top: 15vh;
  padding-left: 3%;

  .aboutTitle {
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
  }
}

  .navItems {
    padding-top: 3%;
    font-weight: 800;
  
    p {
      padding: 1.5vh;
    }
  
    a {
      display: block;
      text-decoration: none;
      color: variables.$light-grey;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 20px;
      width: 17vw;;
      font-size: 16px;
      margin-bottom: 5vh;
      text-align: center;
      line-height: 34px;
    }
  
    a:hover {
      background-color: white;
      color: variables.$navy;
      font-weight: 600;
    }
  }

  .logoContainer {
    width: 20vw;
    height: 4vh;
    
    img {
      padding: 0.8vw;
      object-fit: contain;
      height: 100%;
    }
  }

  //Mobile
@media (max-width: 1023px) {

  #about {
    padding-top: 10%;
    padding-left: 0;
}

  .container{
    .leftDiv {
      position: relative;
    }

    .rightDiv {
      margin-left: 7.5vw;
    } 
  }
    
  .navItems {
    font-weight: 600;
    padding-top: 0;
  
    a {
      padding: 1.5%;
      display: inline;
      font-size: 12px;
      margin-right: 3%;
      border: 1.7px solid white;
    }
  }

  .logoContainer {
    margin-top: 2vh;
    width: 75vw;
    
    img {
      height: 3vh;
      padding: 1vw;
    }
  }  
  }