@use '../../variables';

.ao, .thinkPrint {
  @include variables.boxStyle
}

  .ao:hover, .thinkPrint:hover {
    @include variables.boxHover;
  }


  @media (max-width: 1025px) {
    .ao, .thinkPrint {
      width: 80%;
      padding: 0;
      margin-top: 10%;
      margin-bottom: 10%;
    }
  }