@use 'variables';

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body,
html {
  height: 100vh;
  font-family: variables.$font-stack;
}

.date {
  font-size: 15px;
}

h1 {
  color: white;
  letter-spacing: -0.025rem;
  font-weight: 700;
  padding-top: 15vh;
  font-size: 34px;
  margin: 0;
}

h2 {
  padding: 3%;
  margin-bottom: 0;
  font-size: 18px;
  color: variables.$teal;
}

h3 {
  color: white;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 800;
}

.textBlock {
  width: 30vw;
  line-height: 1.625;
  margin-bottom: 4%;
  font-size: 16px;
}

.skills {
  font-size: 14px;
  margin-top: 7.5%;

  span {
    @include variables.skillStyle;
  }
}

#projects {
  margin-bottom: 5%;
  padding-bottom: 5%;
}

//Mobile
@media (max-width: 767px) {

  .date {
    font-size: 13px;
  }

  h1 {
    padding-top: 10vh;
    font-size: 28px;
  }

  h2 {
    font-size: 16px;
    padding: 0;
  }
  
  h3 {
    font-size: 16px;
    margin: 0;
  }

  .textBlock {
    font-size: 13px;
    width: 80vw;
    line-height: 1.625;
    margin-bottom: 4%;
  }

  .skills {  
    margin-top: 10%;
    font-size: 10px;
  }

  #about, #experience, #projects {
    margin-bottom: 15%;
  }
}

//Tablet
@media (min-width: 768px) and (max-width: 1023px) {

  h1 {
    padding-top: 10vh;
  }

  h2 {
    font-size: 20px;
    padding: 0;
    margin-top: 10%;
  }

  h3 {
    font-size: 20px;
  }

  .textBlock {
    width: 80vw;
    font-size: 19px;
  }

  .skills {  
    margin-top: 5%;
    font-size: 16px;
  }
}