$navy: #00072d;
$dark-blue: #132e48;
$teal: #52cdce;
$light-grey: #d3d3d3;
$font-stack: "Inter", "Helvetica", sans-serif;
$bold-text: 800;

  
@mixin boxStyle() {
    width: 30vw;
    padding: 3%;
}

@mixin boxHover() {
    h3 {
        color: $teal;
    }
    border-radius: 20px;
    background-color: rgba(94, 234, 213, 0.034);
}

@mixin skillStyle {
    background-color: $dark-blue;
    font-weight: 600;
    margin-right: 2%;
    color: $teal;
    padding: 9px;
    border-radius: 15px;
}